{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 7"
          ]
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
