@import './vendors/normalize';
@import './vendors/simple-grid';
@import './placeholders/index';
@import './mixins/index';
@import './variables';

* , *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  max-width: 620px;
}

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

label,
div {
  > strong{ 
    font-weight: 600;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@include inputTextTypes {
  @extend %inputTextStyle;
  
  &.invalid{
    border-color: #f60202;
  }

  &:focus{
    @extend %inputFocusStyle;
  }
}

textarea,
select {
  @extend %inputTextStyle;

  &.invalid{
    border-color: #f60202;
  }
}

input {
  &[type="file"]{
    display: block;
    width: 100%;
    height: 38px;
    margin: 0;
    position: relative;
    padding: 6px 10px;

    &:after{
      &:hover{
        @extend %btnHoverFocusStyle;
      }
    }

    &:focus{
      outline: 0;

      &:before{
        @extend %inputFocusStyle;
      }
    }

    &.invalid{
      &:before{
        border-color: #f60202;
      }
    }

    &:before{
      content: '';
      @extend %inputTextStyle;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after{
      content: 'Choose';
      position: absolute;
      right: 0;
      top: 0;
      height: 38px;
      padding: 0 43px;
      line-height: 38px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      @extend %btnStyle;
    }
  }

  &[type="checkbox"]{
    position: relative;

    &:focus{
      outline: 0;

      &:before{
        @extend %inputFocusStyle;
      }
    }

    &:checked{
      &:after{
        opacity: 1;
      }
    }

    &:before{
      content: "";
      width: 14px;
      height: 14px;
      background: #FFF;
      pointer-events: none;
      display: inline-block;
      border: 1px solid #D1D1D1;
      @extend %centerElement;
      top: 1px;
    }

    &:after{
      content: '';
      width: 5px;
      height: 8px;
      opacity: 0;
      display: block;
      pointer-events: none;
      transform: rotate(45deg);
      border-bottom: 2px solid $colorBlue;
      border-right: 2px solid $colorBlue;
      @extend %centerElement;
      top: -1px;
      left: 1px;
    }
  }

  &[type="radio"]{
    position: relative;
    outline: 0;

    &:focus{
      &:before{
        @extend %inputFocusStyle;
      }
    }

    &:checked{
      &:before{
        border-color: $colorBlue;
        background: $colorBlue;
      }

      &:after{
        opacity: 1;
      }
    }

    &:before{
      content: "";
      width: 16px;
      height: 16px;
      background: #FFF;
      display: inline-block;
      border-radius: 16px;
      border: 1px solid #D1D1D1;
      position: absolute;
      right: 0;
      left: -1px;
      top: 2px;
      bottom: 0;
      margin: auto;
    }

    &:after{
      opacity: 0;
      content: "";
      width: 6px;
      height: 6px;
      display: inline-block;
      background: #FFF;
      position: absolute;
      border-radius: 19px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      top: 2px;
    }
  }
}

@include inputOptionTypes{
  margin: 0;

  & + label{
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.88889rem;
    margin-bottom: 0;
    vertical-align: baseline;
  }
}

.checkbox{
  display: inline-block;
  margin-right: 0.9rem;

  span{
    margin-left: 0.2rem;
    vertical-align: middle;
  }
}

select{
  margin: 0;
}

@include inputButtonTypes{
  @extend %formatButtons;

  &:hover,
  &:focus {
    @extend %btnNormalHoverFocusStyle;
  }

  &.button-primary{
    @extend %btnStyle;

    &:hover,
    &:focus {
      @extend %btnHoverFocusStyle;
    }
  }
}

.button,
button{
  @extend %formatButtons;
  
  &:hover,
  &:focus{
    @extend %btnNormalHoverFocusStyle;
  }

  &.button-primary{
    @extend %btnStyle;

    &:hover,
    &:focus {
      @extend %btnHoverFocusStyle;
    }
  }
}

textarea, 
select {
  &:focus{
    @extend %inputFocusStyle;
  }
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

hr{
  margin: 20px 0;
}

h4{
  margin: 20px 0 10px 0;
  font-weight: 100;
  font-size: 20px;
}

.right{
  float: right;
}

.left{
  float: left;
}

.hidden{
  display: none;
}

.errors{
  background: #F6DB00;
  padding: 5px 8px;
  margin: 0;

  li{
    margin: 0;
    list-style: none;
    font-size: 13px;
    line-height: 21px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  > strong{
    font-weight: 600;
  }

  span {
    font-weight: 400;
  }

  .field {
    color: #ffffff;
    background: #a59200;
    padding: 1px 4px;
    // margin-left: 2px;
    font-size: 9px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
  }
}
